.quick-contact {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

@media (max-width: 991px) {
  .quick-contact {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@media (max-width: 575px) {
  .quick-contact {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.quick-contact .container {
  border-radius: 2.5rem;
  background-color: var(--primary-color);
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.quick-contact__input-wrapper {
  position: relative;
  border-radius: 1rem;
  width: 100%;
  overflow: hidden;
}

.quick-contact__input-wrapper.error {
  border: 0.1rem solid var(--accent-color);
}

.quick-contact__input-wrapper form {
  display: flex;
  position: relative;
  height: 100%;
}

.quick-contact__input-wrapper form * {
  display: block;
}

.quick-contact__input-wrapper input {
  flex: 1 1 auto;
  border: none;
  padding: 1.6rem 3rem;
  color: var(--primary-color);
  font-size: var(--font-size-18);
}
.quick-contact__input-wrapper input:focus {
  outline: none;
  border: none;
}

.quick-contact__input-wrapper input::placeholder {
  color: #cacaca;
}

.quick-contact__input-wrapper button {
  flex: 0 0;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
  border-left: 0.1rem solid var(--accent-color);
  background: white;
  padding-top: 1.6rem;
  padding-right: 2.7rem;
  padding-bottom: 1.6rem;
  padding-left: 2.4rem;
  color: var(--primary-color);
  font-size: var(--font-size-22);
}

.quick-contact__input-wrapper button:hover {
  background: var(--accent-color);
  color: white;
}

.quick-contact__error-message {
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0.5rem;
}

.quick-contact__error-message * {
  margin-top: 0.5rem;
  color: var(--accent-color);
  font-size: var(--font-size-14);
}
