.copytrading {
  overflow: hidden;
}

.copytrading__top-divider {
  border-bottom: 0.1rem solid var(--border-color);
  width: 100%;
  height: 6.5rem;
}

.copytrading__title-wrapper {
  padding-top: 3.6rem;
}

.copytrading__subtitle,
.copytrading__subtitle * {
  font-size: var(--font-size-33);
}

.copytrading__title,
.copytrading__title * {
  display: block;
  font-weight: 400;
  font-size: var(--font-size-64);
  font-family: var(--font-secondary);
}

.copytrading__title span:nth-child(2) {
  text-align: end;
}

.copytrading__description {
  margin-top: calc(-6.5rem);
  border-left: 0.1rem solid var(--border-color);
  padding-top: calc(6.5rem + 3.6rem);
  padding-bottom: 12rem;
  padding-left: 5.4rem;
  font-size: var(--font-size-24);
}

.copytrading__card-image {
  margin-bottom: 1.2rem;
  border-radius: 2.5rem;
  aspect-ratio: 1.5 / 1;
  height: auto;
  overflow: hidden;
}

.copytrading__card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.copytrading__button-wrapper {
  height: 6rem;
}

.copytrading__button-wrapper * {
  font-size: var(--font-size-20);
}

.copytrading__text-item-divider {
  position: absolute;
  border-top: 0.1rem solid var(--border-color);
  width: 100vw;
  height: 0.1rem;
}

.copytrading__text-item-divider--top {
  top: 0;
  left: 0;
}

.copytrading__text-item-divider--bottom {
  left: 0;
}

.copytrading__text-item {
  margin-bottom: -12rem;
  border-left: 0.1rem solid var(--border-color);
  padding-bottom: 12rem;
}

.copytrading__text-item--second {
  margin-bottom: 0;
  padding-bottom: 0;
}

.copytrading__text-item-wrapper {
  margin-bottom: 12rem;
  padding-top: 5.2rem;
  padding-bottom: 12rem;
  padding-left: 5.4rem;
}

.copytrading__text-item-wrapper > * {
  font-size: var(--font-size-24);
}

.copytrading__text-item-wrapper *:first-child {
  margin-bottom: 5rem;
}

.copytrading__bottom-divider-wrapper > div {
  height: 12rem;
}

.copytrading__bottom-divider {
  position: absolute;
  border-top: 0.1rem solid var(--border-color);
  width: 100vw;
  height: 100%;
}

@media (max-width: 991px) {
  .copytrading__subtitle * {
    font-size: var(--font-size-14);
  }

  .copytrading__title * {
    font-size: var(--font-size-22);
  }

  .copytrading__description {
    padding-bottom: 3rem;
    font-size: var(--font-size-12);
  }

  .copytrading__text-item {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }

  .copytrading__text-item-wrapper {
    margin-bottom: 3rem;
    padding: 1rem;
  }

  .copytrading__text-item-wrapper *:first-child {
    margin-bottom: 1rem;
  }

  .copytrading__text-item * {
    font-size: var(--font-size-14);
  }

  .copytrading__bottom-divider {
    height: 6rem;
  }

  .copytrading__card {
    display: flex;
    flex-direction: column;
  }

  .copytrading__card-image {
    flex: 1 1 auto;
    width: 100%;
  }

  .copytrading__button-wrapper {
    flex: 0 0 4rem;
  }
  .copytrading__button-wrapper * {
    font-size: var(--font-size-14);
  }

  .copytrading__bottom-divider-wrapper > div {
    height: 6rem;
  }
}

@media (max-width: 575px) {
  .copytrading__title-wrapper {
    padding-top: 2.4rem;
  }

  .copytrading__subtitle,
  .copytrading__subtitle * {
    font-size: var(--font-size-12);
  }

  .copytrading__title,
  .copytrading__title * {
    font-size: var(--font-size-20);
  }

  .copytrading__description {
    margin-top: 0;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1.8rem;
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    font-size: var(--font-size-12);
  }

  .copytrading__card-image {
    border-radius: 1rem;
    width: 100%;
    height: 10.3rem;
  }
  .copytrading__card-image img {
    object-fit: cover;
    object-position: center;
  }

  .copytrading__button-wrapper {
    margin-bottom: 4rem;
    border-radius: 1rem;
    height: 4.5rem;
  }
  .copytrading__button-wrapper * {
    font-size: var(--font-size-14);
  }

  .copytrading__text-item {
    margin-top: 0;
    margin-bottom: 0;
    border-left: none;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }

  .copytrading__text-item-wrapper {
    padding-top: 3.6rem;
    padding-bottom: 8rem;
    padding-left: 3.2rem;
  }

  .copytrading__text-item * {
    margin: 0;
    border-left: none;
    padding: 0;
    font-size: var(--font-size-12);
  }

  .copytrading__text-item-wrapper *:first-child {
    margin-bottom: 0.5rem;
  }
}
