@import url("./purposeCard.css");

.purpose__card-col {
  padding-top: 8.5rem;
}

.purpose__title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.purpose__title * {
  font-weight: 400;
  font-size: var(--font-size-50);
}

.purpose__card-container {
  border-right: 0.1rem solid var(--border-color);
  border-left: 0.1rem solid var(--border-color);
}

.purpose__link-container {
  border-right: 0.1rem solid var(--border-color);
  border-left: 0.1rem solid var(--border-color);
}

.purpose__current-strategy-wrapper {
  position: relative;
  border-top: 0.1rem solid var(--border-color);
  border-bottom: 0.1rem solid var(--border-color);
}

.purpose__link-divider {
  border-top: 0.1rem solid var(--border-color);
}

.purpose__link-divider--left {
  border-right: 0.1rem solid var(--border-color);
}

.purpose__link-divider--right {
  border-bottom: 0.1rem solid var(--border-color);
  border-left: 0.1rem solid var(--border-color);
}

.purpose__current-strategy {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.purpose__current-strategy * {
  font-size: var(--font-size-33);
}

.purpose__current-strategy a {
  transition: color 0.3s ease;
  cursor: pointer;
  text-decoration: underline;
}

.purpose__current-strategy a:hover {
  color: var(--accent-color);
}

.purpose__current-strategy-circle {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 14.5rem;
  height: 14.5rem;
}

.purpose__current-strategy-circle::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
  width: 4.3rem;
  height: 0.1rem;
  content: "";
}

.purpose__current-strategy-circle::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
  width: 0.1rem;
  height: 4.3rem;
  content: "";
}

@media (max-width: 991px) {
  .purpose__card-col {
    padding-top: 6rem;
  }

  .purpose__title * {
    font-size: var(--font-size-22);
  }

  .purpose__current-strategy {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }

  .purpose__current-strategy * {
    font-size: var(--font-size-20);
  }

  .purpose__current-strategy-circle {
    width: 8rem;
    height: 8rem;
  }

  .purpose__current-strategy-circle::before {
    width: 3rem;
  }
  .purpose__current-strategy-circle::after {
    height: 3rem;
  }
}

@media (max-width: 575px) {
  .purpose__card-col {
    padding-top: 4rem;
  }

  .purpose__title * {
    font-size: var(--font-size-14);
  }

  .purpose__current-strategy {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .purpose__current-strategy * {
    font-size: var(--font-size-14);
  }

  .purpose__current-strategy-circle {
    top: 100%;
    width: 3.9rem;
    height: 3.9rem;
  }

  .purpose__current-strategy-circle::before {
    width: 1.9rem;
  }
  .purpose__current-strategy-circle::after {
    height: 1.9rem;
  }

  .purpose__link-divider--right {
    border-left: none;
    height: 5rem;
  }
}
