.approach__header {
  background-color: var(--primary-color);
  padding: 5rem 0;
}

@media (max-width: 575px) {
  .approach__header {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
}

.approach__title {
  flex: 0 0 auto;

  margin-right: 10rem;
}

@media (max-width: 575px) {
  .approach__title {
    margin-right: 2rem;
  }
}

.approach__header-text {
  flex: 1 1 auto;
}

.approach__header-text * {
  margin-bottom: 1.5rem;
}

.approach__title h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 10.6rem;
}

@media (max-width: 575px) {
  .approach__title h2 {
    font-size: 1.6rem;
  }
}

.approach__content-title {
  margin-top: 10rem;
  margin-bottom: 5rem;
}

@media (max-width: 575px) {
  .approach__content-title {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.approach__content-title h3 {
  margin: 0;
  font-weight: 400;
}

@media (max-width: 575px) {
  .approach__invest-process-wrapper {
    display: flex;
  }
}

.approach__line img {
  width: 103%;
  object-fit: contain;
}

@media (max-width: 575px) {
  .approach__line {
    position: relative;
    width: 5rem;
    height: 70.3rem;
  }
  .approach__line img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%) rotate(90deg);
    width: 72.3rem;
    height: 2.2rem;
    object-fit: contain;
  }
}

.approach__process-icon img {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
}

.approach__process-text b {
  font-size: 2.4rem;
}

.approach__process-text p {
  margin: 0;
  font-size: 2rem;
}

@media (max-width: 575px) {
  .approach__process-icon img {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
  }

  .approach__process-text b {
    font-size: 1.4rem;
  }
  .approach__process-text p {
    font-size: 1.2rem;
  }

  .approach__invest-item--analyz {
    margin-top: 30%;
  }

  .approach__invest-item--invest {
    margin-top: 0%;
  }

  .approach__invest-item--intelligent {
    margin-bottom: 60%;
  }
}

.approach__card-container {
  margin-top: 14rem;
}

.approach__card {
  position: relative;
}

.approach__card-background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2.5rem;
  background-image: linear-gradient(
    180deg,
    rgba(26, 29, 38, 0) 0%,
    rgba(26, 29, 38, 1) 100%
  );
  width: 100%;
  height: 100%;
}

.approach__card-wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 2.5rem;
  padding: 4.5rem;
  aspect-ratio: 2.9 / 1;
  height: auto;
  height: 100%;
}

.approach__card-image-background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2.5rem;
  background-image: url("../../../../images/approachCard.png");
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

@media (max-width: 575px) {
  .approach__card-image-background {
    transform: scale(-1, 1);
  }
}

@media (max-width: 575px) {
  .approach__card-wrapper {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 2rem;
    aspect-ratio: 1 / 1;
  }
}

.approach__card-title {
  width: 60%;
  font-weight: 400;
  font-size: 5rem;
}

@media (max-width: 575px) {
  .approach__card-title {
    width: 70%;
    font-size: 1.6rem;
  }
}

@media (max-width: 575px) {
  .approach__card-logo img {
    width: 9.8rem;
    height: 2.8rem;
  }
}

.approach__services {
  display: flex;
  margin-top: -2.5rem;
  padding-top: 6.5rem;
  padding-bottom: 14rem;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 575px) {
  .approach__services {
    padding-bottom: 3rem;
  }
}

.approach__services .container {
  flex: 0 0 auto;
}

.approach__services .approach__services-side-gradient {
  position: relative;
  flex: 1 1 0%;
}

.approach__services-item > p {
  padding: 3rem;
  font-size: 2.4rem;
}

@media (max-width: 575px) {
  .approach__services-item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10rem;
  }

  .approach__services-item > p {
    display: block;
    padding: 1.5rem;
    font-size: 1.2rem;
    line-height: 130%;
    text-wrap: balance;
  }
}

.approach__service-item-divider {
  position: absolute;
  top: 0;

  width: 1.5rem;
  height: 100%;
}

.approach__service-item-divider-border {
  position: absolute;
  bottom: 0;

  left: 0;
  width: 101%;
}

.approach__service-item-divider-border-top {
  bottom: 0;
  height: calc(100% + 6.5rem);
}

.approach__service-item-divider-border-bottom {
  top: 100%;
  height: 15rem;
}

.approach__bottom-divider {
  background-color: var(--primary-color);
  height: 8.3rem;
}
