.perfomance__title {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.perfomance__description {
  margin-top: 2rem;
  margin-bottom: 7rem;
}

.perfomance__statistic {
  margin-bottom: 10rem;
}

.perfomance__statistic-title {
  margin-bottom: 1.6rem;
}
