.philosophy__card-wrapper {
  position: relative;
  z-index: 2;
  margin-top: 12.6rem;
}

.philosophy .container {
  position: relative;
}

.philosophy__animation-wrapper {
  position: absolute;
  top: 50%;
  left: 0%;

  transform: translateY(-50%);
  width: 50%;
}

@media (max-width: 576px) {
  .philosophy__animation-wrapper {
    top: 5rem;
    width: 100%;
  }
}

.philosophy__animation-wrapper h2 {
  position: relative;
  left: -100%;
}

.philosophy__animation-wrapper--second {
  left: 100%;
}

@media (max-width: 576px) {
  .philosophy__animation-wrapper--second {
    top: calc(100% - 5rem);
    left: 0;
  }

  .philosophy__animation-wrapper h2 {
    left: 0;
  }
}

.philosophy__animation {
  animation: LeftToRight 10s infinite linear;
}

@keyframes LeftToRight {
  from {
    transform: translateY(-50%) translateX(-100%);
  }
  to {
    transform: translateY(-50%) translateX(100%);
  }
}

.philosophy__card {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 11rem;
  box-shadow: -0.5rem 0.8rem 1.3rem 0rem rgba(0, 0, 0, 0.2);
  border-radius: 2.5rem;

  background-color: var(--primary-color);

  padding: 4rem;
}

@media (max-width: 767px) {
  .philosophy__card {
    padding: 1.65rem 1.8rem;
  }
}

.philosophy__card-background {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  box-shadow: -0.5rem 0.8rem 1.3rem 0rem rgba(0, 0, 0, 0.2);
  border-radius: 2.5rem;
  width: 100%;
  height: 100%;
}

.philosophy__card-background--left {
  transform: translate(-50%, -50%) rotate(13deg);
  background-color: #72747b;
}

.philosophy__card-background--right {
  transform: translate(-50%, -50%) rotate(-13deg);
  background-color: #434753;
}

.philosophy__card-image {
  flex: 0 0 auto;
  margin-bottom: 3rem;
  height: auto;
}

.philosophy__card-image img {
  border-radius: 2.2rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.philosophy__card-text {
  flex: 0 1 auto;
  margin-bottom: 3.5rem;
  max-width: 100%;
}

.philosophy__card-logo {
  display: flex;
  justify-content: flex-end;
}

.philosophy__card-logo img {
  width: 5rem;
  height: 5rem;
}
