.philosophy__card-wrapper {
  margin-top: 12.6rem;
}

.philosophy__card {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 11rem;
  box-shadow: -5px 8px 13px 0px rgba(0, 0, 0, 0.2);
  border-radius: 2.5rem;

  background-color: var(--primary-color);

  padding: 4rem;
  width: 59.2rem;
}

.philosophy__card-background {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  box-shadow: -5px 8px 13px 0px rgba(0, 0, 0, 0.2);
  border-radius: 2.5rem;
  width: 100%;
  height: 100%;
}

.philosophy__card-background--left {
  transform: translate(-50%, -50%) rotate(13deg);
  background-color: #72747b;
}

.philosophy__card-background--right {
  transform: translate(-50%, -50%) rotate(-13deg);
  background-color: #434753;
}

.philosophy__card-image {
  flex: 0 0 auto;
  margin-bottom: 3rem;
  width: 51.2rem;
  height: 43.3rem;
}

.philosophy__card-image img {
  border-radius: 2.2rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.philosophy__card-text {
  flex: 0 1 auto;
  margin-bottom: 3.5rem;
  max-width: 100%;
}

.philosophy__card-logo {
  display: flex;
  justify-content: flex-end;
}

.philosophy__card-logo img {
  width: 5rem;
  height: 5rem;
}

.philosophy__pin-button-wrapper {
  width: 100%;
  height: 22.1rem;
}

.philosophy__pin-button-wrapper .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
}

.philosophy__pin-button-wrapper .btn .philosophy__pin-icon {
  mask: url("../../../../images/fi_bookmark.svg") no-repeat center;
  -webkit-mask: url("../../../../images/fi_bookmark.svg") no-repeat center;
  mask-size: contain;
  -webkit-mask-size: contain;

  transition: background-color 0.1s ease;

  background-color: #ededed;
  width: 7.4rem;
  height: 7.4rem;
}

.philosophy__pin-button-wrapper .btn:hover .philosophy__pin-icon {
  background-color: var(--primary-color);
}

.philosophy__name {
  margin-top: 8.3rem;
  margin-bottom: 6.9rem;
}

.philosophy__name-title p {
  margin-top: 0;
  margin-bottom: 1.3rem;
}

.philosophy__description {
  padding-top: 10rem;
}

.philosophy__description-image {
  border-radius: 2.5rem;
  aspect-ratio: 2/1;
  width: 100%;
  height: auto;
}

.philosophy__description-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
