.stategy {
  background: url("../../../../images/stategyBackground.webp") no-repeat center
    center;
  background-size: cover;
}

.stategy__wrapper {
  display: flex;
  position: relative;
}

.stategy__side-divider {
  display: none;
  flex: 1 1 0%;
}

.stategy__container {
  flex: 0 0 100%;
}

.stategy__row {
  padding-top: 7.8rem;
  padding-bottom: 7.8rem;
}

.stategy__background {
  position: absolute;
  top: 0;
  left: 0;
  border: 0.1rem solid #000000;
  background-color: rgba(34, 39, 47, 0.9);
  width: 100%;
  height: 100%;
}

.stategy__title {
  margin-bottom: 1rem;
}

.stategy__title * {
  font-size: var(--font-size-50);
}

.stategy__description {
  padding: 0 8rem;
}

.strategy__description-divider {
  display: none;
}

@media (max-width: 991px) {
  .stategy__side-divider {
    display: block;
  }
  .stategy__row {
    padding-top: 5.6rem;
    padding-bottom: 5.6rem;
  }

  .stategy__title * {
    font-size: var(--font-size-22);
  }

  .stategy__description {
    padding: 0 2rem;
    font-size: var(--font-size-16);
  }

  .strategy__description-divider {
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
  }
}

@media (max-width: 575px) {
  .stategy__side-divider {
    display: none;
  }

  .stategy__row {
    padding-top: 3rem;
    padding-bottom: 0;
  }

  .stategy__title * {
    font-size: var(--font-size-16);
  }

  .stategy__description {
    margin-bottom: 4rem;
    padding: 0 1.5rem;
    font-size: var(--font-size-12);
  }

  .strategy__description-divider {
    display: none;
  }
}
