.stategy {
  background: url("../../../../images/stategyBackground.png") no-repeat center
    center;
  padding: 7.8rem 0;
}

.stategy__background {
  position: absolute;
  top: 0;
  left: 0;
  border: 0.1rem solid #000000;
  background-color: rgba(34, 39, 47, 0.9);
  width: 100%;
  height: 100%;
}

.stategy__title {
  margin-bottom: 1rem;
}

.stategy__description {
  padding: 0 8rem;
}
