.cooperation {
  margin-bottom: 12rem;
}

.cooperation__title * {
  font-weight: 400;
  font-size: var(--font-size-64);
}

.cooperation__card {
  background-image: url("../../../../../images/cooperationCardBackground.webp");

  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 0;
}

.cooperation__card-background {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.25;
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
}

.cooperation__items-container {
  display: flex;
  flex-wrap: wrap;
}

.cooperation__item {
  position: relative;
  flex: 0 0 50%;
}

.cooperation__item--right {
  border-left: 0.1rem solid var(--border-color-2);
}

.cooperation__item--top {
  padding-top: 7rem;
  padding-left: 4rem;
  height: 46.7rem;
}

.cooperation__item--bottom {
  border-top: 0.1rem solid var(--border-color-2);
  padding-top: 3.6rem;
  padding-left: 4.6rem;
  height: 26.3rem;
}

.cooperation__item-title * {
  color: var(--accent-color);
  font-weight: 400;
  font-size: var(--font-size-64);
}

.cooperation__item-description,
.cooperation__item-description *,
.cooperation__item-annotation,
.cooperation__item-annotation * {
  color: #fff;
  font-size: var(--font-size-24);
}

.cooperation__item-annotation {
  opacity: 0.5;
}

.cooperation__logo-wrapper {
  position: absolute;
  bottom: 4rem;
  left: 4rem;
  height: 4.6rem;
}

.cooperation__logo-wrapper img {
  width: auto;
  height: 100%;
}

.cooperation__item-circle-wrapper {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-color: var(--border-color-2);
  width: 9.1rem;
  height: 9.1rem;
}

@media (max-width: 991px) {
  .cooperation__title * {
    font-size: var(--font-size-32);
  }

  .cooperation__item--top {
    padding: 2rem;
    height: 20.7rem;
  }

  .cooperation__item--bottom {
    padding: 2rem;
    height: 11.6rem;
  }

  .cooperation__item-title * {
    font-size: var(--font-size-32);
  }

  .cooperation__item-description,
  .cooperation__item-description *,
  .cooperation__item-annotation,
  .cooperation__item-annotation * {
    font-size: var(--font-size-12);
  }

  .cooperation__logo-wrapper {
    bottom: 1.7rem;
    left: 1.7rem;
    height: 2rem;
  }

  .cooperation__item-circle-wrapper {
    width: 4rem;
    height: 4rem;
  }
}

@media (max-width: 575px) {
  .cooperation {
    margin-bottom: 3rem;
    padding-top: 2.8rem;
  }

  .cooperation__item--top {
    padding: 2rem;
    height: 20.7rem;
  }

  .cooperation__item--bottom {
    padding: 2rem;
    height: 11.6rem;
  }

  .cooperation__item-title * {
    font-size: var(--font-size-24);
  }

  .cooperation__item-title.cooperation__item-title--white * {
    color: #fff;
    font-size: var(--font-size-16);
  }

  .cooperation__item-description,
  .cooperation__item-description *,
  .cooperation__item-annotation,
  .cooperation__item-annotation * {
    font-size: var(--font-size-12);
  }

  .cooperation__logo-wrapper {
    bottom: 1.7rem;
    left: 1.7rem;
    height: 2rem;
  }

  .cooperation__item-circle-wrapper {
    width: 4rem;
    height: 4rem;
  }
}
