.form {
  display: flex;
  flex-direction: column;
  border-radius: 2.5rem;
  background-color: #fff;
  padding: 4rem;
}

.form__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.form__logo img {
  width: auto;
  height: 4.6rem;
}

.form__title * {
  margin-bottom: 3.6rem;
  font-size: 2.8rem;
}

.form__input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}

.form__input-title,
.form__input-title * {
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 2.2rem;
}

.form__input-wrapper textarea,
.form__input-wrapper input {
  border: 0.1rem solid #cacaca;
  border-radius: 1.5rem;
  padding: 1.5rem 2rem;
  color: var(--primary-color);
  font-size: 1.6rem;
}

.form__input-wrapper textarea {
  aspect-ratio: 2.16 / 1;
  height: auto;
}

.form__input-wrapper textarea::placeholder,
.form__input-wrapper input::placeholder {
  color: #cacaca;
  font-weight: 400;
}

.form__input-wrapper.error textarea,
.form__input-wrapper.error input {
  border: 0.1rem solid var(--accent-color);
}

.form__input-error-message,
.form__input-error-message * {
  margin-top: 0.5rem;
  color: var(--accent-color);
  font-size: 1.4rem;
}

.form__button-wrapper .btn {
  height: 6rem;
  font-size: 2rem;
}

.form__checkbox-wrapper {
  display: flex;
  margin-top: 5.8rem;
  margin-bottom: 3.5rem;
}

/* Style the checkbox container */
.form__checkbox {
  position: relative;
}

/* Hide the default checkbox */
.form__checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}

.form__checkbox label {
  display: flex;
}

/* Create a custom checkbox */
.form__checkbox label::before {
  flex: 0 0 3rem;
  margin-right: 1rem;
  border: 0.1rem solid #1a1d26;
  border-radius: 1rem;
  background-color: transparent;
  width: 3rem;
  height: 3rem;
  content: "";
}
.form__checkbox.error label::before {
  border-color: var(--accent-color);
}

/* Style the checkmark using the SVG (with checked state) */
.form__checkbox input[type="checkbox"]:checked + label::before {
  background-image: url("../../../../images/icons/checkbox.svg");
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

/* Style the label text */
.form__checkbox-label-wrapper {
  color: rgba(202, 202, 202, 1);
  font-weight: 400;
  font-size: 1.6rem;
}

.form__checkbox.error .form__checkbox-label-wrapper {
  color: var(--accent-color);
}

.form__checkbox input:disabled {
  background-color: #f5f5f5;
  color: #cacaca;
}
