@import url("./form.css");

.form-block {
  background-image: url("../../../../images/formBlockBg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 6rem;
  padding-bottom: 8.5rem;
}

.form-block__text-item {
  padding: 4.8rem;
}

.form-block__text-item-background {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.form-block__text-item p:first-child {
  margin-bottom: 1.7rem;
}

.form-block__text-item-title,
.form-block__text-item-title * {
  font-size: 2.4rem;
}

.form-block__text-item-content,
.form-block__text-item-content * {
  font-size: 2.2rem;
  line-height: 1.5;
}

@media (max-width: 576px) {
  .form-block {
    padding-top: 3rem;
    padding-bottom: 2.9rem;
  }

  .form-block__text {
    display: flex;
    flex-direction: column-reverse;
  }

  .form-block__text-item {
    padding: 2.2rem;
    width: 70%;
  }

  .form-block__text-item:first-child {
    align-self: flex-end;
    width: 60%;
  }

  .form-block__text-item-title,
  .form-block__text-item-title * {
    font-size: 1.4rem;
  }

  .form-block__text-item-content,
  .form-block__text-item-content * {
    font-size: 1.2rem;
  }
}
