.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    background-color 0.3s ease,
    color 0.1s ease;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
}

.btn a,
.btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s ease;
  border: none;
  background: none;
  width: 100%;
  height: 100%;
  color: #fff;
}

.btn:hover {
  background-color: var(--accent-color);
}
.btn--border {
  border: 0.1rem solid #ededed;
}

.btn--white-hover:hover {
  background-color: #fff;
}

.btn--white-hover:hover a,
.btn--white-hover:hover button {
  color: var(--primary-color);
}
