.btn a,
.btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    background-color 0.3s ease,
    color 0.1s ease;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  color: #fff;
}

.btn:hover a,
.btn:hover button {
  background-color: var(--accent-color);
  color: #fff;
}

.btn--border a,
.btn--border button {
  border: 0.1rem solid #ededed;
}
