.footer {
  background-color: rgba(26, 29, 38, 1);
  padding: 5rem 0;
}

.footer__nav {
  margin-bottom: 4.5rem;
}

.footer__nav ul {
  display: flex;
  justify-content: space-around;
}

.footer__nav a {
  transition: all 0.2s ease;
  font-size: var(--font-size-18);
}

.footer__nav a:hover {
  color: var(--accent-color);
}

.footer__description,
.footer__description * {
  opacity: 0.5;
  font-size: var(--font-size-12);
}

.footer__social-links {
  margin-top: 4rem;
  margin-bottom: 2.5rem;
}

.footer__social-links ul {
  display: flex;
  justify-content: center;
}

.footer__social-links ul li {
  margin-right: 5rem;
  width: 3.2rem;
  height: 3.2rem;
}

.footer__social-links a {
  display: block;
}

.footer__social-links ul svg {
  width: 100%;
  height: 100%;
}

.footer__social-links ul svg path {
  transition: all 0.2 ease;
}

.footer__social-links ul a:hover svg path {
  stroke: var(--accent-color);
}
.footer__social-links ul a:hover.footer__link--filled svg path {
  fill: var(--accent-color);
}

.footer__copyright {
  font-size: var(--font-size-18);
}

@media (max-width: 576px) {
  .footer {
    padding: 6rem 0;
  }

  .footer__nav {
    margin-bottom: 6rem;
  }

  .footer__nav a {
    font-size: var(--font-size-12);
  }

  .footer__description,
  .footer__description * {
    font-size: var(--font-size-08);
  }

  .footer__social-links {
    margin-top: 6rem;
    margin-bottom: 3rem;
  }

  .footer__social-links ul li {
    width: 2.5rem;
    height: 2.5rem;
  }

  .footer__copyright {
    font-size: var(--font-size-12);
  }
}
