.gradient-bottom {
  background: linear-gradient(
    to bottom,
    var(--gradient-color-1),
    var(--gradient-color-2)
  );
}

.gradient-top {
  background: linear-gradient(
    to top,
    var(--gradient-color-1),
    var(--gradient-color-2)
  );
}

.gradient-left {
  background: linear-gradient(
    to left,
    var(--gradient-color-1),
    var(--gradient-color-2)
  );
}

.gradient-right {
  background: linear-gradient(
    to right,
    var(--gradient-color-1),
    var(--gradient-color-2)
  );
}
