:root {
  --header-height: 6rem;
}

.header {
  position: relative;
  z-index: 10;
  background-color: #fff;
  height: var(--header-height);
}

@media (max-width: 991px) {
  :root {
    --header-height: 5rem;
  }
  .header {
  }
}

.header .container {
  height: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.7rem 0;
  height: 100%;
}

.header__logo-wrapper {
  width: 15.8rem;
  height: 4.6rem;
}
.header__logo-wrapper img {
  width: 100%;
  height: 100%;
}

@media (max-width: 991px) {
  .header__logo-wrapper {
    width: auto;
    height: 2.9rem;
  }
}

.header__nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header__nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 15rem;
  list-style: none;
  text-align: center;
}

.header__nav ul li a {
  transition: all 0.1s ease;
  color: #1a1d26;
  font-weight: 700;
  font-size: var(--font-size-sm);
  text-decoration: none;
}

.header__nav ul li a:hover {
  color: #ff4f2f;
  text-decoration: underline;
}

.header__button-wrapper {
  width: 14.9rem;
  height: 4rem;
}

.header__button-wrapper.btn {
  font-weight: bold;
  font-size: var(--font-size-16);
}

.header__burger-button {
  display: none;
  width: 2.4rem;
  height: 2.4rem;
}

@media (max-width: 991px) {
  .header__burger-button {
    display: block;
  }
}

.header__burger-button button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  width: 100%;
  height: 100%;
}

.header__burger-button-line {
  border-radius: 0.1rem;
  background-color: #292d32;
  width: 2rem;
  height: 0.2rem;
}

.header__burger-wrapper {
  display: flex;
  position: absolute;

  top: calc(var(--header-height) - 0.1rem);
  left: 0;
  opacity: 0;
  transition: all 0.3s ease;
  background-color: #fff;
  width: 100%;
  height: 0;
  overflow: hidden;
  pointer-events: none;
}

.showBurgerMenu .header__burger-wrapper {
  opacity: 1;
  height: 100vh;
  pointer-events: all;
}

.header__burger-menu {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
}

.header__burger-nav {
  display: flex;
  position: relative;
  padding: 5rem 10rem;
  width: 100%;
  height: 100%;
}

.header__burger-nav ul {
  width: 100%;
}

.header__burger-nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  filter: blur(2rem);
  transition: filter 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-bottom: 0.1rem solid var(--border-color);
  padding: 2rem 0;
  width: 100%;
  list-style: none;
  text-align: center;
}

.header__burger-nav ul li:last-child {
  border-bottom: none;
}

.showBurgerMenu .header__burger-nav ul li {
  filter: blur(0);
}

.header__burger-nav ul li:last-child {
  margin-bottom: 0;
}

.header__burger-nav ul li a {
  transition: all 0.1s ease;
  color: #1a1d26;
  font-weight: 700;
  font-size: var(--font-size-20);
  text-decoration: none;
}
