.basis__container {
  padding-top: 10rem;
}

.basis__container {
  border-right: 0.1rem solid var(--border-color);
  border-left: 0.1rem solid var(--border-color);
}

.basis__title-wrapper {
  padding-bottom: 2.7rem;
}

.basis__title * {
  font-weight: 400;
  font-size: var(--font-size-64);
}

.basis__image-container img {
  margin-left: -0.1rem;
  width: calc(100% + 0.2rem);
  height: 100%;
  object-fit: cover;
}

.basis__items-wrapper {
  display: flex;
}

.basis__items-wrapper--border-bottom {
  border-bottom: 0.1rem solid var(--border-color);
}

.basis__items-wrapper-divider {
  flex: 1 1 0%;
}

.basis__items-wrapper .container {
  flex: 0 0 100%;
}

.basis__items-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.basis__item-plus {
  margin-right: 2.5rem;
}

.basis__item-plus img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
}

@media (max-width: 991px) {
  .basis__container {
    padding-top: 6rem;
  }

  .basis__title * {
    font-size: var(--font-size-22);
  }

  .basis__item-plus {
    margin-right: 1rem;
  }

  .basis__item {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .basis__item-plus img {
    width: 1rem;
    height: 1rem;
  }
}

@media (max-width: 575px) {
  .basis__items-wrapper--border-bottom {
    border-bottom: 0;
  }

  .basis__container {
    padding-top: 3rem;
  }

  .basis__mobile-image-wrapper img {
    width: 100%;
    height: auto;
  }

  .basis__title * {
    font-size: var(--font-size-16);
  }

  .basis__item-plus {
    margin-right: 1rem;
  }

  .basis__item {
    margin-top: 3rem;
  }

  .basis__item-plus img {
    width: 1rem;
    height: 1rem;
  }
}
