.risks {
  padding-top: 12rem;
  overflow: hidden;
}

.risks__card {
  position: relative;
  z-index: 2;
  border-radius: 2.5rem;
  aspect-ratio: 3.7 / 1;
  height: auto;
  overflow: hidden;
}

.risks__card-background-image {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../../../../images/risksCardBackground.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.risks__card-background-gradient {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  width: 100%;
  height: 100%;
}

.risks__card-title {
  position: absolute;
  right: 4rem;
  bottom: 3rem;
  text-align: end;
}

.risks__card-title * {
  font-weight: 400;
  font-size: var(--font-size-64);
}

@media (max-width: 991px) {
  .risks {
    padding-top: 3.1rem;
  }

  .risks__card-background-gradient {
    background: rgba(26, 29, 38, 0.45);
  }

  .risks__card-title {
    right: 1.6rem;
    bottom: 1.1rem;
  }
  .risks__card-title * {
    font-weight: bold;
    font-size: var(--font-size-22);
  }
}

@media (max-width: 575px) {
  .risks__card-row {
    margin-right: 0;
    margin-left: 0;
  }

  .risks__card {
    margin-bottom: 3rem;
    border-radius: 1.5rem;
  }
  .risks__card-title {
    right: 0.8rem;
    bottom: 0.9rem;
  }
  .risks__card-title * {
    font-weight: bold;
    font-size: var(--font-size-14);
  }
}

.risks__divider-item {
  margin-top: -2.5rem;
  border-right: 0.1rem solid var(--border-color);
  border-left: 0.1rem solid var(--border-color);
  padding-top: 2.5rem;
  height: calc(3.9rem + 2.5rem);
}

.risks__items-wrapper {
  display: flex;
  border-top: 0.1rem solid var(--border-color);
  border-bottom: 0.1rem solid var(--border-color);
}

.risks__side-divider {
  flex: 1 1;
}

.risks__item {
  position: relative;
  border-right: 0.1rem solid var(--border-color);
  border-left: 0.1rem solid var(--border-color);
  padding: 4.1rem 3.5rem 4.2rem;
  height: 100%;
}

.risks__item-title {
  margin-bottom: 1.9rem;
}

.risks__item-title,
.risks__item-title * {
  font-weight: bold;
  font-size: var(--font-size-24);
  text-align: center;
}

.risks__item-content,
.risks__item-content * {
  font-weight: 400;
  font-size: var(--font-size-24);
  text-align: center;
}

.risks__item-circle {
  display: flex;
  position: absolute;
  top: 100%;
  left: 100%;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  width: 8.7rem;
  height: 8.7rem;
}

.risks__item-circle > div {
  width: 50%;
  height: 50%;
}

.risks__item-circle-lineHorizontal {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  background-color: var(--primary-color);
  width: 100%;
  height: 0.1rem;
}

.risks__item-circle-lineVertical {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-color);
  width: 0.1rem;
  height: 100%;
}

.risks__items-divider {
  position: absolute;
  transform: translateX(-50%);
  width: var(--bs-gutter-x);
  height: 100%;
}

.risks__bottom-divider-wrapper {
  border-bottom: 0.1rem solid var(--border-color);
}

.risks__bottom-divider-item {
  border-right: 0.1rem solid var(--border-color);
  border-left: 0.1rem solid var(--border-color);
  height: 14.1rem;
}

@media (max-width: 991px) {
  .risks__divider-item {
    height: calc(2.7rem + 2.5rem);
  }

  .risks__item {
    padding: 1.7rem 1.1rem;
  }

  .risks__item-title {
    margin-bottom: 0.5rem;
  }

  .risks__item-title * {
    font-size: var(--font-size-14);
  }

  .risks__item-content,
  .risks__item-content * {
    font-size: var(--font-size-10);
    text-align: center;
    text-wrap: balance;
  }

  .risks__item-circle {
    width: 3.7rem;
    height: 3.7rem;
  }

  .risks__bottom-divider-item {
    height: 6.1rem;
  }
}

@media (max-width: 575px) {
  .risks__items-row {
    padding-top: 1rem;
  }

  .risks__side-divider {
    position: absolute;
    top: 0;
    width: 2rem;
    height: 100%;
  }

  .risks__mobile-side-divider--left {
    left: 0;
    border-right: 0.1rem solid var(--border-color);
  }

  .risks__mobile-side-divider--right {
    right: 0;
    border-left: 0.1rem solid var(--border-color);
  }

  .risks__item-block {
    margin-bottom: 1rem;
  }

  .risks__item-mobile-divider {
    position: absolute;
    top: 0;
    left: 0;
    border-top: 0.1rem solid var(--border-color);
    border-bottom: 0.1rem solid var(--border-color);
    width: 100%;
    height: 100%;
  }

  .risks__item-mobile-gradient-divider {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1rem;
  }

  .risks__item-mobile-gradient-divider--top {
    bottom: 100%;
  }

  .risks__item-mobile-gradient-divider--bottom {
    top: 100%;
  }

  .risks__item {
    border: none;
  }
}
