@import url("./contactsItem.css");

.contacts {
  padding-top: 14.8rem;
}

.contacts__button {
  margin-bottom: 7.9rem;
  height: 6rem;
}

.contacts__button a {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.1s ease;
  width: 100%;
  height: 100%;
  color: var(--accent-color);
  font-size: var(--font-size-18);
  text-decoration: underline;
}

.contacts__button:hover a {
  color: #fff;
}

@media (max-width: 991px) {
  .contacts {
    padding-top: 6rem;
  }
  .contacts__button {
    margin-bottom: 6rem;
    height: 5.5rem;
  }
  .contacts__button a {
    font-size: var(--font-size-14);
  }
}

@media (max-width: 575px) {
  .contacts {
    padding-top: 3rem;
  }
  .contacts__button {
    margin-bottom: 3rem;
    height: 4.5rem;
  }
  .contacts__button a {
    font-size: var(--font-size-12);
  }
}
